body {
    font: normal 15px "Segoe UI", sans-serif;
}

table {
    table-layout: auto;
    width: 100%;
}

th {
    padding: 10px 0;
}

td:first-child {
    width: 25%;
}

input,
button,
label {
    font-family: inherit;
    font-size: inherit;
}

button {
    overflow: hidden;
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: default;
    padding: 0;
    transition: 0.3s;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}

#content {
    position: absolute;
    inset: 0;
    display: flex;
}

#canvas {
    flex: 80%;
    height: 100%;
}

#sidebar {
    flex: 20%;
    background-color: #4caf50;
    height: 100%;
    overflow: auto;
}

#bottomMenu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    float: right;
    width: 100%;
}

#loadFloorplanButton {
    padding: 2px 0;
}

.tab.mode {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabContent.mode {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#furnitureTab {
    overflow: auto;
}

.tab.furnitureType {
    overflow: hidden;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttonRow button,
.buttonRow label {
    width: 100%;
    flex-direction: row;
    height: 45px;
}

.buttonRow label {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tabContent.furnitureType {
    display: none;
}

.loadInputClass {
    overflow: hidden;
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.loadInputClass:hover {
    background-color: #ddd;
}

.loadInputClass:active {
    background-color: #ccc;
}

.loadFileClass {
    display: none;
}

.addButton {
    padding: 2px 5px;
    width: 100%;
}

.inputTD {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h100pc {
    height: 100%;
}

.w100pc {
    width: 100%;
}

.w50pc {
    width: 50%;
}

.w33pc {
    width: 33%;
}

#helpDialog {
    border: 3px solid #4caf50;
    width: 50%;
    height: 90%;
}

#helpBox {
    display: flex;
    flex-direction: column;
}

#helpText {
    overflow: auto;
}
