body {
    font: normal 15px Segoe UI, Segoe UI, sans-serif;
}

table {
    table-layout: auto;
    width: 100%;
}

input,
button,
label {
    font-family: inherit;
    font-size: inherit;
}

button {
    overflow: hidden;
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: default;
    padding: 14px 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}

#content {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex
}

#canvas {
    flex: 80%;
    height: 100%;
}

#sidebar {
    flex: 20%;
    background-color: #4CAF50;
    height: 100%;
    overflow: auto;
}

#bottomMenu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    float: right;
        width: 100%;
}

.tab.mode {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabContent.mode {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#furnitureTab {
    overflow: auto;
}

.tab.furnitureType {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.tab.furnitureType button {
    width: 100%;
    display: flex;
    flex-direction: row;
    display: block;
     height: 45px;
}


.tabContent.furnitureType {
    display: none;
}

.loadInputClass {
    overflow: hidden;
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.loadInputClass:hover {
    background-color: #ddd;
}

.loadInputClass:active {
    background-color: #ccc;
}

#loadInput {
    display: none;
}

.addButton {
    padding: 2px 5px;
    width: 100%;
}

.inputTD {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w100pc {
    width: 100%;
}

.w50pc {
    width: 50%;
}

.w33pc {
    width: 33%;
}